<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853548178805-1o4tbnm4lp4lge3l79g3hlqqjmms4c3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853548178805-1o4tbnm4lp4lge3l79g3hlqqjmms4c3c</string>
	<key>API_KEY</key>
	<string>AIzaSyDZVWHrgRohi-KJR0d8Q5FLXGd9E3gidUM</string>
	<key>GCM_SENDER_ID</key>
	<string>853548178805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleMl</string>
	<key>PROJECT_ID</key>
	<string>ticket-safe</string>
	<key>STORAGE_BUCKET</key>
	<string>ticket-safe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853548178805:ios:400521ea84cc12302c473c</string>
</dict>
</plist>